.about-content{
	.col{
		margin-bottom: 30px;
	}
	.section-subtitle{
		color: $primary-color;
	}
	.avatar{
		border: 10px solid $secondary-color;
	}
	.personal-info{
		font-size: 1.2rem;
		li{
			padding: 10px 0;
			border-bottom: 1px solid #ededed;
		}
		span{
			font-weight: 500;
			width: 30%;
			display: block;
			float: left;
		}
	}
	.social-links{
		li{
			float: left;
			margin-right: 15px;
			margin-bottom: 5px;
			i{
				color: $secondary-color;
			}
		}
	}
}